<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link rel="stylesheet" href="/src//styles.css">
-->
<div class="container-fluid">
	<h3 class="display-5 text-center my-4">Artículos de la Bodega</h3>
	<div class="row">
		<div class="col-12 col-md-4">
			<h4 class="text-center my-3">Agrega un artículo nuevo</h4>
			<app-agregar-articulo></app-agregar-articulo>
		</div>
		<div class="col-12 col-md-8">
			<h4 class="text-center my-3">Lista de artículos</h4>
			<app-articulos></app-articulos>
		</div>
	</div>
</div>